extends layout/main

block variables
    - var pageTitle = 'Регистрация и вход'

block content
    p Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.
    form.form-horizontal.login-form(name='login-form')
        .form-group
            label.col-lg-2.control-label(for='input-username') Имя
            .col-lg-10
                input#input-username.form-control(name='username' value='name' type='text' placeholder='Имя')
        .form-group
            label.col-lg-2.control-label(for='input-password') Пароль
            .col-lg-10
                input#input-password.form-control(name='password' value='pass' type='password' placeholder='Пароль')
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type='submit') Войти
                span.help-block.error(id="errorBlock")
block scripts
    script.
        let form = document.forms["login-form"];

        form.addEventListener("submit", async (event) => {
            event.preventDefault();
            
            let errorBlock = document.getElementById("errorBlock");
            let submit = event.submitter;
                submit.disabled = true;
                submit.innerHTML =
                    '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Отправляю...';
            
            let response = await fetch("/login", {
                method: "POST",
                body: new FormData(form),
            });
            
            switch (response.status) {
                case 200:
                    form.className = "alert";
                    form.classList.add("alert-primary");
                    form.setAttribute("role", "alert");
                    form.innerText = "Вы вошли в сайт";
                    window.location.href = "/chat";
                    break;

                default:
                    let alert = document.createElement("div");
                    alert.className = "alert";
                    alert.classList.add("alert-danger");
                    alert.innerText = response.statusText;
                    errorBlock.append(alert);
                    submit.disabled = true;
                    submit.innerHTML = "Войти";
                    break;
            }
            
            return false;
        });
